
.vs/openu_Assembly_2022/v15/.suo
.vs/openu_Assembly_2022/v15/Browse.VC.db
.vs/openu_Assembly_2022/v15/ipch/AutoPCH/2937656d180dfd2d/MAIN.ipch
.vs/openu_Assembly_2022/v15/ipch/AutoPCH/2b5f88a5d3ebbe0b/FILES.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
ConsoleApplication1/.vs/ConsoleApplication1/v15/.suo
ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.db
ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.opendb
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/410f17aa73abb12f/MAIN.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/4283124b2bfb9e59/FILES.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/AutoPCH/574907f72bae80bb/PARCER.ipch
ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/e224a87bbdc85960.ipch
ConsoleApplication1/ConsoleApplication1.cpp
ConsoleApplication1/ConsoleApplication1.sln
ConsoleApplication1/ConsoleApplication1.vcxproj
ConsoleApplication1/ConsoleApplication1.vcxproj.filters
ConsoleApplication1/ConsoleApplication1.vcxproj.user
ConsoleApplication1/Debug/ConsoleA.C5631A2C.tlog/CL.command.1.tlog
ConsoleApplication1/Debug/ConsoleA.C5631A2C.tlog/CL.read.1.tlog
ConsoleApplication1/Debug/ConsoleA.C5631A2C.tlog/CL.write.1.tlog
ConsoleApplication1/Debug/ConsoleA.C5631A2C.tlog/ConsoleApplication1.lastbuildstate
ConsoleApplication1/Debug/ConsoleA.C5631A2C.tlog/link.command.1.tlog
ConsoleApplication1/Debug/ConsoleA.C5631A2C.tlog/link.read.1.tlog
ConsoleApplication1/Debug/ConsoleA.C5631A2C.tlog/link.write.1.tlog
ConsoleApplication1/Debug/ConsoleApplication1.exe
ConsoleApplication1/Debug/ConsoleApplication1.ilk
ConsoleApplication1/Debug/ConsoleApplication1.log
ConsoleApplication1/Debug/ConsoleApplication1.pdb
ConsoleApplication1/Debug/file.as
ConsoleApplication1/Debug/file.txt
ConsoleApplication1/Debug/files.obj
ConsoleApplication1/Debug/files.obj.enc
ConsoleApplication1/Debug/main.obj
ConsoleApplication1/Debug/parcer.obj
ConsoleApplication1/Debug/preprocessor.obj
ConsoleApplication1/Debug/vc141.idb
ConsoleApplication1/Debug/vc141.pdb
ConsoleApplication1/stdafx.cpp
ConsoleApplication1/stdafx.h
ConsoleApplication1/targetver.h
ConsoleApplication1/Debug/main.obj.enc
ConsoleApplication1/Debug/parcer.obj.enc
